html * {
    font-size: 1.1em;
}

.column_element {
    text-align: center;
    padding: 0.4em;
}

.top_column_element {
    padding-top: 2em;
}

button {
    padding: 0;
}

#powerButton {
    height: 200px;
    width: 200px;
}